@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Grade Calculator";
}
<!-- grade calculator form -->
@model gradecalcModel;
<h2>Grade Calculator</h2>
<form method="post">
    <label for="assignments"> Assignments:</label>
    <input id="assignments" type="number" asp-for="Assignments" />%<br /><br />
    <label for="groupproject" id="ec">Group Projects:</label>
    <input id="groupproject" type="number" asp-for="GroupProjects"/>%<br /><br />
    <label for="quizzes">Quizzes:</label>
    <input type="number" id="quizzes" asp-for="Quizzes" />%<br /><br />
    <label for="exams">Exams:</label>
    <input type="number" id="exams" asp-for="Exams" />%<br /><br />
    <label for="intex">INTEX:</label>
    <input type="number" id="intex" asp-for="Intex"/>%<br /><br />

    <!-- submit button for calculator -->
    <input class="btnGrade" id="btnGrade" type="submit" value="Calculate Grade" />

    <div id="summary" asp-validation-summary="All"></div>
</form>

