@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Brinley's Website";
}


    <!-- Page title and image -->
    <h1>Brinley Miller</h1>
    <center><img src="img/starwars.jpg" width="600" /></center>

    <!-- Paragraph about myself -->
    <p>
        I recently got a job as a Web Developer at BYU. I was very excited to get this job, but also
        very nervous because it was in C# which I have never coded in. I hope to be able to gain confidence
        in my C# sharp coding abilities in this class. I want to be able to use this confidence to create
        my own website or app. I also want to have a further understanding of the MVC model because I occassionally get
        confused on where specific code should be.
    </p>

    <!-- List of top 3 Jobs -->
    <div>
        <h3>Top #3 Jobs</h3>
        <ol>
            <li>Web Development</li>
            <li>Software Test Engineer</li>
            <li>UI/UX</li>
        </ol>
    </div>

    

    
